{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">{{ Hotel }}</h1>
    <wrapper class="example justify-content-center row">

{% for kamer in kamers %}
        <div class="card" style="width: 18rem; margin-bottom:20px; margin-left:20px;">
            <div class="card-body">
                <h4 class="card-title">kamer: {{ kamer }}</h4>
                {# <img class="card-img" src={{kamer.ImageFile}}></img> #}
                <h5 class="card-text">Prijs: {{ kamer.prijs }}</h5>
            </div>
        </div>
        {% endfor %}
</wrapper>



{% endblock %}
