{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="/">La Casserai</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/kamer">Kamers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/extras">Extras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/soort">Soort</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/image">Images</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
{% endblock %}